/* connections */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* connections */


/* global */

  * {
    margin: 0; 
    padding: 0; 
  }
  html { scroll-behavior: smooth; }
  body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    background: black;
    color: white;
  }

  ::selection {
    background: #00c3ff;;
  }

  .main-container {
    width: 100%;
  }
  .container {
    width: 70%; 
    margin: auto;
  }
  .title {
    font-size: 50px;
  }

  .uppercase {text-transform: uppercase;}

  .burger {
    position:fixed;
    width: 40px; 
    height: 40px; 
    top: 0; 
    left: 0;
    margin: 30px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-around;
    opacity: .4;
    transition: .5s;  
    cursor: pointer;
    z-index: 100;
  }
  .burger:hover {
    opacity: 1;
  }

  .burger .line {
    background: white; 
    height: 5px; 
    width: 40px;
  }

  .burger-background {
    position: fixed; 
    margin: 30px; 
    top: 0; 
    left: 0; 
    z-index: 60;
    overflow: visible !important;
  }

  .read-more {
    position: absolute; 
    bottom: 20px; 
    height: 50px; 
    width: 50px; 
    border-radius: 10rem !important; 
    left: 50%;
    transform: translateX(-50%); 
    animation-name: read-more-animation; 
    animation-duration: 4s; 
    animation-iteration-count: infinite;
  }
  .read-more img {
    width: 100%;
    opacity: .7; 
    transition: .5s; 
    cursor: pointer;
  }
  .read-more img:hover {
    opacity: 1; 
  }
  @keyframes read-more-animation {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  .menu {
    width: 100vw; 
    height: 100vh; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
  }

  .special-text { text-shadow: 1px 1px 1px black;}
  .special-span-text { color: rgb(154, 215, 255); }

  /* scrollbar settings */

    ::-webkit-scrollbar {
      width: 4px;
    }

    /* Track */
      ::-webkit-scrollbar-track {
        background: black;
      }
    
    /* Handle */
      ::-webkit-scrollbar-thumb {
        background: rgb(255, 255, 255); 
      }

  /* scrollbar settings */

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row, .row *{
    box-sizing: border-box;
  }  

  .iframe-object {
    box-shadow: 0px 0px 110px rgba(0, 225, 255, 0.397); 
  }

  .image { width: 100%; }

  .fancy-image { transition: .4s; opacity: .7; } .fancy-image:hover { opacity: 1; }

  /* BUTTONS */
    
    .fancy-button {
      padding: 10px 15px; 
      border: 1px solid rgba(255, 255, 255, 0.200); 
      background: rgba(0, 4, 255, 0.356); 
      color: rgba(255, 255, 255, 0.900); 
      border-radius: .3rem !important;
      cursor: pointer; 
      transition: .3s; 
    }

    .fancy-button:hover {
      background: rgba(0, 4, 255, 0.685); 
      border: 1px solid rgba(255, 255, 255, 0.900); 
    }

  /* BUTTONS */

  /* SHADOWS */

  .internal-shadow {
    box-shadow: 0px 20px 40px black inset; 
  }

  /* SHADOWS */

  
  .white-button {
    text-decoration: none; 
    color: white; 
    border: 2px solid rgba(255, 255, 255, 0.74); 
    border-radius: 3rem !important; 
    padding: 10px 40px;
    text-transform: uppercase;
    transition: 0.25s;
  }
  .white-button:hover {
    box-shadow: inset 0 3rem 0 0 white;
    color: black;
  }

/* global */





/* sections */

/* main section */

.main {
  background: url("../imgs/background-1-backup-2.png") center center no-repeat; 
  background-size: cover; 
  height: 100vh; 
  width: 100vw;
  color: white; 
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: center;

  box-shadow: 0px -150px 300px black inset; 
}


#particles-js {
  top: 0; 
  left: 0; 
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
}

.logo {
  width: 60px; 
  height: 60px;
  z-index: 999; 
  position: absolute; 
  left: -40px;
  top: -40px;
}
.logo img {
  width: 100%;
  border-radius: 10rem !important;
  opacity: .7; 
  border: solid rgb(16, 128, 255); 
  cursor: pointer;
  transition: .5s; 
  z-index: 999;
}
.logo img:hover {
  opacity: 1; 
}

.japanese-title {
  position: absolute;
  right: 50px;
}

.vertical-title {
  writing-mode: vertical-lr;
  font-size: 60px;
  text-shadow: 0px 0px 20px white;
}



/* main section */

/* about me section */

.about-me {
  min-height: 100vh; 
  width: 100vw; 
  display: flex; 
  flex-direction: row; 
  align-items: center; 
}

.row-two {
  display: flex; 
  flex-direction: row; 
  align-items: center;
}

.row-two > div { width: 50%; }

.about-me-block-section { text-align: left; }

.about-me-block {
  margin: -1px 0px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2rem !important;
  padding: 10px 30px;
  width: 500px;
  transition: .2s; 
}

.row-two .vertical-line {
  height: 30px; 
  width: 1px; 
  position: relative; 
  left: 30px;
  background: rgba(255, 255, 255, 0.200);
}

.fancy-image {
  border-radius: 1rem !important;
  border: 3px solid white; 
}

.cool-image-effect {
  width: 100%;
  height: 100%;
  position: relative;
  
  .cool-image-about-me {
    width: 100%;
    height: 100%;
    clip-path: polygon(0 7%, 71% 32%, 57% 87%, 0 100%);
    filter: invert(1) hue-rotate(11.142rad);
  }

  .cool-image-about-me-second {
    width: 100%;
    height: 100%;
    clip-path: polygon(92% 68%, 78% 68%, 82% 86%, 29% 76%, 38% 15%);
    filter: invert(1) hue-rotate(9.142rad);
    position: absolute; 

    top: 0; 
    left: 0;
  }

  .cool-image-about-me-third {
    width: 100%;
    height: 100%;
    clip-path: polygon(44% 0, 100% 9%, 94% 53%, 1% 19%);
    filter: invert(1) hue-rotate(8.5rad);
    position: absolute; 

    top: 0; 
    left: 0;
  }


  .cool-image-contact-first {
    width: 100%;
    height: 100%;
    clip-path: polygon(56% 0, 75% 10%, 83% 62%, 41% 100%, 30% 71%, 34% 4%);
    filter: invert(1) hue-rotate(4.142rad);
  }

  .cool-image-contact-second {
    width: 100%;
    height: 100%;
    clip-path: polygon(24% 0, 51% 0, 54% 37%, 46% 68%, 3% 88%, 3% 20%);
    filter: invert(1) hue-rotate(4.842rad);
    position: absolute; 

    top: 0; 
    left: 0;
  }

  .cool-image-contact-third {
    width: 100%;
    height: 100%;
    clip-path: polygon(69% 3%, 94% 10%, 99% 59%, 82% 97%, 43% 79%, 56% 17%);
    filter: invert(1) hue-rotate(4rad);
    position: absolute; 

    top: 0; 
    left: 0;
  }
}

/* about me section */

/* contact section */


.contact-div {
  min-height: 100vh; 
  width: 100vw; 
  display: flex; 
  flex-direction: row; 
  align-items: center; 
}
.contact-div .contact-card {
  padding: 20px; 
}

.contact-card ul {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: space-around;
  list-style: none;
}

.contact-card .line {
  width: 100%; 
  height: 1px; 
  background: rgba(255, 255, 255, 0.385);
}

/* contact section */

/* sections */